@{
    ViewBag.Title = "Home Page";
}

    <div class="container">
        <h1>Bienvenidos a Yotah!</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br> Proin commodo erat eget odio condimentum sed varius leo rutrum.</p>
    </div>